* {
    margin: 0;
    padding: 0;
}

/* LEFT ASIDE */

.left-aside {
    /* border: 2px solid green; */
    width: 17%;
    height: 80vh;
}

.top-content {
    /* border: 1px solid brown; */
    height: 300px;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    padding: 30px 0px 0px 30px;
    color: grey;
}

.left-aside a {
    text-decoration: none;
}

main a {
    color: rgb(54, 53, 53);
}

main a:hover {
    color: black;

}

main {
    display: flex;
    background-color: rgb(241, 237, 237);
}

.middle-content {
    /* border: 1px solid brown; */
    height: 300px;
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    padding: 30px 0px 0px 30px;
    color: grey;
}

.button {
    /* border: 1px solid brown; */
    margin: 40px 0 0 80px;
}

.button button {
    padding: 10px;
    width: 70%;
    border-radius: 23px;
    color: green;
    border: 2px solid green;
    margin-top: -5px;
}

.top-content .middle-content a strong {
    color: grey;
}

/* //LEFT ASIDE */


/* RIGHT ASIDE */

.right-aside {
    /* border: 2px solid blue; */
    width: 83%;
    margin-top: 30px;
}

.box-2 .card {
    /* border: 2px solid red;  */
    width: 15%;
    height: 45%;
    padding: 10px;
    line-height: 1.2em;
}

.box-4 .card {
    /* border: 2px solid red;  */
    width: 15%;
    height: 45%;
    padding: 10px;
    line-height: 1.2em;
}


.card:hover {
    cursor: pointer;

}

.card img {
    width: 100%;
    height: 53%;
    border-radius: 15px;
}

.card img:hover {
    opacity: 0.7;
}

.box-1 {
    /* border: 1px solid green; */
}

.box-2 {
    /* border: 1px solid green; */
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.box-3 {
    /* border: 1px solid green; */
    margin-top: 4%;
}

.box-4 {
    /* border: 1px solid green; */
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
}


.toggle-button {
    /* border: 2px solid brown; */
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 28px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* //RIGHT ASIDE */


/* extras */
.responsive ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive ul li {
    list-style: none;
    font-size: 18px;
    margin-top: 13px;

}

.responsive ul li a {
    text-decoration: none;
}



/* @media (max-width:1500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links,
    .vanish {
        display: none;
    }


    .responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .responsive ul {
        flex-direction: column;
        width: 100%;
        height: 140px;
    }

    .responsive ul li {
        text-align: center;
    }

    .responsive ul li a {
        padding: 5px 5px;
    }

    .extra-size {
        margin: 25px 0 25px 0
    }

    .navbar-links.active {
        display: flex;

    }
    main{
        margin-top: 25%;;
    }
} */
